// BASICS

.background-yellow
  background-color: $color-yellow

.card
  padding: $margin-small

// TYPE

p
  text-indent: $margin-mid
  &:first-child
    text-indent: 0

// HEADER

#header-menu
  li
    display: inline-block
    &:after
      content: ' | '
    &:last-child:after
      content: ''
    a
      display: inline-block
      &.active, &:hover
        border-bottom-color: black
        border-bottom-style: solid
        border-bottom-width: 2px

// CONTACT FORM

.contact-form
  margin-top: $margin-basic
  &.invalid
    .invalid-message
      display: block
  &.error
    .error-message
      display: block

label, input, textarea
  display: block
  width: 100%
  padding: $margin-tiny
  margin-bottom: $margin-tiny

input[type=submit]
  width: auto
  margin: $margin-small $margin-tiny

textarea
  height: 11em

.invalid-message, .error-message
  display: none
  background: white
  padding: $margin-tiny